
<div>
    WebFrontEnd - the simple test one :)
</div><br>
<form>
    Find taxi to Liivi 2, Tartu, Estonia<br>
    <button class="btn btn-primary btn-block" ng-click="submit()">Submit</button>
</form>

<div>
    {{sync_notification}}
</div>
<div>
    {{async_notification}}
</div>
